<form>
  <fieldset>
    <legend>Login Phone:</legend>
    Country code: <input type="text" name="countryCode" [(ngModel)]="phone.countryCode">
    Phone number: <input type="text" name="phoneNumber" [(ngModel)]="phone.phoneNumber">
    <button [ngxLoginFacebookKitPhone]="{countryCode: phone.countryCode, phoneNumber: phone.phoneNumber}"
            (successEvent)="loginSuccess($event)"
            (errorEvent)="loginError($event)">
      Login
    </button>
  </fieldset>

  <fieldset>
    <legend>Login Email:</legend>
    Email: <input type="text" name="email" [(ngModel)]="email">
    <button [ngxLoginFacebookKitEmail]="email"
            (successEvent)="loginSuccess($event)"
            (errorEvent)="loginError($event)">
      Login
    </button>
  </fieldset>
</form>
